/target/
/.tools/
/.ahc/runtime/
/contests/*/target/
/contests/*/tools/target/
/contests/*/tools/in/
/contests/*/out/
/contests/*/results/
/contests/*/visualizations/
/contests/*/snapshots/
/contests/*/submit/
.DS_Store
/references/
__pycache__/
